<!DOCTYPE HTML>	
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		 <th:block th:replace="fragment :: head"></th:block>
	</head>
	<div><th:block th:replace="fragment :: navbar"></th:block></div>
	
<h1>Ecco le nostre pizze: </h1>
    <div th:if="${#lists.isEmpty(listaPizze)}">
        <h1>Spiacenti, non e' disponibile una lista di pizze</h1>
      </div>
      <div th:unless="${#lists.isEmpty(listaPizze)}">


<hr/>
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>				
					<th>Descrizione</th>
					<th>Prezzo</th>
					<th>Azioni</th>
					<th>Ingredienti</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${listaPizze}">
				    <td th:text="${p.nome}"></td>
					<td th:text="${p.descrizione}"></td>					
					<td th:text="${p.getPrezzoFormattato}"></td>
						
					<td><a class="btn btn-danger" th:href="@{|/cancella/${p.id}|}" title="Delete" onclick="return confirm('Are your sure?')">
					<i class="fa-solid fa-trash-can"></i>
					<a class="btn btn-primary" th:href="@{|/modificaPizza/${p.id}|}" title="Edit">
	  					<i class="fa-solid fa-pen-to-square"></i>
	  				</a>
	  				</td>
	  				<tr th:each="i : ${listaIngrediente}">
							<td th:text="${i.nome}"></td>
						</tr>				
				</tr>
			</tbody>
		</table>
		
		
		
</html>		
		